@import models.users.Customer
@import models.users.User
@(userForm: Form[User], user: User)
@import helper._
@main("Join as a Customer",user) {
    <p class="lead">Register</p>
    @if(flash.containsKey("error")) { 
        @flash.get("error") 
        }
    

    @if(flash.containsKey("success")) { 
        @flash.get("success") 
        }
    

    @form(action=routes.AccountCtrl.addUserSubmit(), 'class -> "form-horizontal", 'role -> "form",'enctype -> "multipart/form-data") {
        @* CSRF attack prevention *@
        @CSRF.formField
        @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
        
        
        @inputText(userForm("name"), '_label -> "Name", 'class -> "form-control")
        @inputText(userForm("password"), '_label -> "Password", 'class -> "form-control")
        @inputText(userForm("role"), '_label -> "Role", 'class -> "form-control")
        
        <br><br>
        <label>Register </label>
        <div class="actions">
            <input type="submit" value="Add User" class="btn btn-primary">
            <a href="@routes.ProductCtrl.listProducts(0)">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    
}
}